<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>柚子</title>
    <link rel="stylesheet" type="text/css" href="../css/index_style.css">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/login.css">
</head>
<body>
<header>
    <div class="header_main">
        <div class="logo">
            <img src="./images/logo_02.png">
        </div>

        {include file="tpl/login.tpl" /}

        <div class="nav auto">
            <a href="/" class="cur">首页</a>

            <a href="orientation">职业定位</a>
            <a href="schoolpost">校招岗位</a>
            <a href="person">人力共享中心</a>
            <a href="service">综合服务</a>
        </div>

    </div>
</header>
<div class="main">

    <div class="banner">
        <img src="../images/banner.jpg">
    </div>

    <div class="introduce auto">
        <p class="title">
            <img src="../images/title01.png">
        </p>
        <div class="introduce_main auto">
            <div class="introduce_main01">
                <div class="company">
                    <img src="../images/company.png">
                    <h3>公司介绍</h3>
                    <img src="../images/company_pic.jpg" class="company_pic">
                </div>
                <div class="company_text">
                    <p>
                        柚子直聘线上以大学生职业定位为核心，汇聚330位企业高管，一对一视频模式，根据家庭、个性、兴趣等因素综合为大学生解决职业迷茫问题；通过干货输出、社群答疑、柚子微课等方式，以大学生为核心进行点对点定位辅导。
                        线下为全面系统解决大学生职业发展迷茫问题，成立“柚子直聘人力共享中心”，对大学生进行“系统培训+实践训练+岗位推荐+职场导师扶持”，帮助大学生从大学到社会完美过渡</p>
                    <p>
                        柚子直聘线上以大学生职业定位为核心，汇聚330位企业高管，一对一视频模式，根据家庭、个性、兴趣等因素综合为大学生解决职业迷茫问题；通过干货输出、社群答疑、柚子微课等方式，以大学生为核心进行点对点定位辅导。
                        线下为全面系统解决大学生职业发展迷茫问题，成立“柚子直聘人力共享中心”，对大学生进行“系统培训+实践训练+岗位推荐+职场导师扶持”，帮助大学生从大学到社会完美过渡</p>
                    <p class="text_03">柚子·直聘，大学生的职业定位专家！</p>
                    <img src="../images/gsjsimg2.jpg">
                    <img src="../images/gsjsimg3.jpg">
                    <img src="../images/gsjsimg4.jpg">
                </div>

            </div>
            <div class="introduce_main02"></div>
        </div>
    </div>

    <div class="people">
        <p class="title">
            <img src="../images/title02.png">
        </p>
        {volist name="corporation_list" id="data"}
        <div>
            <ul>

                <li>
                    <img src="{$data.c_icon_url}">
                    <h2>{$data.c_name}</h2>
                    <p>{$data.c_introduction}</p>
                </li>

            </ul>
        </div>
        {/volist}
    </div>

    <div class="person">
        <p class="title">
            <img src="../images/title03.png">
        </p>
        <div class="person_main">
            <div class="person_manager">
                <ul>
                    <li><img src="../images/manager1.png"></li>
                    <li><img src="../images/manager2.png"></li>
                    <li><img src="../images/manager3.png"></li>
                    <li><img src="../images/manager5.png"></li>
                </ul>
            </div>
            <div class="person_person">
                <ul>
                    <li><img src="../images/person1.png"></li>
                    <li><img src="../images/person2.png"></li>
                    <li><img src="../images/person3.png"></li>
                    <li><img src="../images/person4.png"></li>
                    <li><img src="../images/person5.png"></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="footer auto">
        <div class="footerleft auto">
            <a href="#">法律声明</a>
            <span>|</span>
            <a href="#">隐私保护</a>
            <span>|</span>
            <a href="#">联系我们</a>
            <span>|</span>
            <a href="#">网站地图</a>
        </div>
        <div class="footerright">版权所有©2017-2022 柚子人力资源有限公司</div>
    </div>
</footer>
</body>
</html>