<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>人力共享中心</title>
	<link rel="stylesheet" type="text/css" href="../css/person_style.css">
	<link rel="stylesheet" type="text/css" href="../css/index_style.css">
	<script type="text/javascript" src="../js/person.js"></script>
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/login.css">
</head>
<body>
	<header>
		<div class="header_main">
		<div class="logo">
			<img src="../images/logo_02.png">
		</div>
			{include file="tpl/login.tpl" /}

		<div class="nav auto">
			<a href="/">首页</a>
			<a href="orientation">职业定位</a>
			<a href="schoolpost">校招岗位</a>
			<a href="person"  class="cur">人力共享中心</a>
			<a href="service" >综合服务</a>

        </div> 

        </div>
	</header>
	</header>
	<div id="content">
		<div id="menu">
			<div class="left_menu">
				<div id="item1" class="item">
					<a href="#">
						<span>东北区域公司</span>
						<i>></i>
					</a>
				</div>
				<div id="item2" class="item">
					<a href="#">
						<span>华东区域公司</span>
						<i>></i>
					</a>
				</div>
				<div id="item3" class="item">
					<a href="#">
						<span>华中区域公司</span>
						<i>></i>
					</a>
				</div>
				<div id="item4" class="item">
					<a href="#">
						<span>华南区域公司</span>
						<i>></i>
					</a>
				</div>
				<div id="item5" class="item">
					<a href="#">
						<span>西北区域公司</span>
						<i>></i>
					</a>
				</div>
				<div id="item6" class="item">
					<a href="#">
						<span>校园大使</span>
						<i>></i>
					</a>
				</div>
			</div>
			<div class="sub_menu" style="background-image: url(../image/fe.png);">
				<div>
					<h3></h3>
					<p>
						<a href="#"></a>
					</p>
					<p>
						<a href="#"></a>
					</p>
				</div>	
			</div>
			<div  class="sub_menu" style="background-image: url(../images/be.png);">
				<div>
					<h3></h3>
					<p>
						<a href="#"></a>
					</p>
					<p>
						<a href="#"></a>
					</p>
				</div>
			</div>
			<div  class="sub_menu" style="background-image: url(../images/mobile.png);">
				<div>
					<h3></h3>
					<p>
						<a href="#"></a>
					</p>
					<p>
						<a href="#"></a>
					</p>
				</div>
			</div>
			<div  class="sub_menu" style="background-image: url(../images/data.png);">
				<div>
					<h3></h3>
					<p>
						<a href="#"></a>
					</p>
					<p>
						<a href="#"></a>
					</p>
				</div>
			</div>
			<div  class="sub_menu" style="background-image: url(../images/yjs.png);">
				<div>
					<h3></h3>
					<p>
						<a href="#"></a>
					</p>
					<p>
						<a href="#"></a>
					</p>
				</div>
			</div>
			<div  class="sub_menu" style="background-image: url(../images/photo.png);">
				<div>
					<h3></h3>
					<p>
						<a href="#"></a>
					</p>
					<p>
						<a href="#"></a>
					</p>
				</div>
			</div>
		</div>

		<div class="map">
			<img class="map_img" src="../images/mapp.png">
            <div class="map_h2"><h1>柚子区域分布图</h1></div>
        </div>

        <div class="talk">
        	论坛
        </div>

	</div>
	<footer>
		<div class="footer auto">
                <div class="footerleft auto">
                    <a href="#">法律声明</a>
                    <span>|</span>
                    <a href="#">隐私保护</a>
                    <span>|</span>
                    <a href="#">联系我们</a>
                    <span>|</span>
                    <a href="#">网站地图</a>
                </div>
                <div class="footerright">版权所有©2017-2022 柚子人力资源有限公司</div>
        </div>
	</footer>
</body>
</html>