<!DOCTYPE html>
<html>
<head>
	<title>注册</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/regist.css">
</head>
<body>
	<header>
		<div class="header_main">
			<div class="logo">
				<img src="../images/logo_02.png">
			</div>
			<div class="right">
		        <p class="button cur">已有账号，去</p> 
				<a class="loginhref" href="/">首页</a>
	        </div>
        </div>
	</header>
	<div>
		<form class="register_form" action="check/reg" method="post">
		<div style="margin-left:20%;margin-right:17%;width:63%;text-align:center;font-size:1.5em;background-color:#E0F2DA"><a >注册</a></div>
			<p>用户名：&nbsp;&nbsp;&nbsp;&nbsp;<input class="input1" type="text" name="name" placeholder="请输入用户名"></p>
			<p>邮箱：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="input1" type="text" name="email" placeholder="请输入邮箱"></p>
			<p>手机号：&nbsp;&nbsp;&nbsp;&nbsp;<input class="input1" type="text" name="phone" placeholder="请输入手机号"></p>
			<p>密码：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="input1" type="password" name="password" placeholder="请输入密码"></p>
			<p>确认密码：  <input class="input1" type="password" name="confirmpassword" placeholder="确认密码"></p></p>
				<p><button class="button1" type="submit" >确定</button></p>
		</form>
    </div>
		<footer>
        <div class="footer auto">
                <div class="footerleft auto">
                    <a href="#">法律声明</a>
                    <span>|</span>
                    <a href="#">隐私保护</a>
                    <span>|</span>
                    <a href="#">联系我们</a>
                    <span>|</span>
                    <a href="#">网站地图</a>
                </div>
                <div class="footerright">版权所有©2017-2022 柚子人力资源有限公司</div>
        </div>
    </footer>
</body>
</html>