<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>柚子</title>
	<link rel="stylesheet" type="text/css" href="../css/index_style.css">
    <link rel="stylesheet" type="text/css" href="../css/otherserver_style.css">
		<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/login.css">
</head>
<body>
	<header>
		<div class="header_main">
    		<div class="logo">
    			<img src="../images/logo_02.png">
    		</div>
            {include file="tpl/login.tpl" /}

    		<div class="nav auto">

                <a href="/" >首页</a>

                <a href="orientation">职业定位</a>
                <a href="schoolpost">校招岗位</a>
                <a href="person" >人力共享中心</a>
                <a href="service" class="cur">综合服务</a>
            </div> 

        </div>
	</header>
	<div class="main main03">
        <div class="map">
            <!-- <img class="map_img" src="../images/mapp.png">
            <div class="map_h2"><h1>柚子区域分布图</h1></div> -->
            <div class="map_text">
                <h1>柚子直聘为大学生提供五大服务</h1>
                <p>1.‌职业定位（线上330位企业高管点对点）</p>
                <p>2.系统培训（求职培训，行业培训，颁发培训证书）</p>
                <p>3.实践训练（猎头、运营、互联网等，通过兼职与实习获得高额报酬，并有实习证明）</p>
                <p>4.岗位推荐（免去笔试与群面）</p>
                <p>5.职业扶持（三年打造经理人）</p>
                ‌<h1>柚子直聘六大亮点</h1>
                <p>1.时间自由（让学习与实习完美结合）</p>
                <p>2.利益更大（提高能力，行业最高提成）</p>
                <p>3.导师制（导师是总监、副总、总经理级别，压力山大有么有）</p>
                <p>4.就业扶持（职业定位，简历修改，面试辅导）</p>
                <p>5.合作企业直推（直接跟企业hr沟通交流，跨越笔试，群面，甚至一面，直达终面）</p>
                <p>6.职场跟进（在三年内有柚子合作的行业高管跟踪扶持，让你从职业小白彻底蜕变，三年内达到经理级别，职业提升快班通道）</p>
                <h1 class="map_text_h103">为企业提供两大服务</h1>
                <p>1.免费实习信息、应届生招聘信息发布</p>
                <p>2.有偿提供招聘服务（校招、RPO、猎头)</p>
            </div>
             <div class="more">
                <a href="" class="button_more">
                    <img src="../images/search_f36.png">
                    查看更多
                </a>
             </div>
        </div>
		 
	</div>

    <footer>
        <div class="footer auto">
                <div class="footerleft auto">
                    <a href="#">法律声明</a>
                    <span>|</span>
                    <a href="#">隐私保护</a>
                    <span>|</span>
                    <a href="#">联系我们</a>
                    <span>|</span>
                    <a href="#">网站地图</a>
                </div>
                <div class="footerright">版权所有©2017-2022 柚子人力资源有限公司</div>
        </div>
    </footer>
</body>
</html>